---
import BaseSlide from './BaseSlide.astro';
import Text from '../ui/Text.astro';
import LinkCard from '../ui/LinkCard.astro';
import List from '../ui/List.astro';
import ListItem from '../ui/ListItem.astro';
import Link from '../ui/Link.astro';
import Section from '../ui/Section.astro';
---

<BaseSlide id="inspiration" title="Вдохновение">
  <Section>
    <Text size="base">Вдохновился я на нынешний доклад после прочтения статьи:</Text>

    <LinkCard href="https://react.dev/learn/you-might-not-need-an-effect">
      You Might Not Need an Effect
    </LinkCard>

    <Text size="base" class="pt-4">
      Также по теме может быть полезно почитать непосредственно саму доку React:
    </Text>

    <List spacing="normal" class="pl-4">
      <ListItem icon="•" iconColor="text-cyan-400">
        <Link href="https://react.dev/learn/synchronizing-with-effects" variant="secondary">
          Synchronizing with Effects
        </Link>
      </ListItem>
      <ListItem icon="•" iconColor="text-cyan-400">
        <Link href="https://react.dev/learn/separating-events-from-effects" variant="secondary">
          Separating Events from Effects
        </Link>
      </ListItem>
      <ListItem icon="•" iconColor="text-cyan-400">
        <Link href="https://react.dev/learn/lifecycle-of-reactive-effects" variant="secondary">
          Lifecycle of Reactive Effects
        </Link>
      </ListItem>
    </List>
  </Section>
</BaseSlide>
